<div class="media-frame-content" style="top:0px; left:0px;">
    <div class="attachments-browser">
        
        <ul class="attachments" style="padding-top:15px;">
            <li class="attachment save-ready" ng-repeat="medium in media" ng-class="{selected: medium.selected, details: medium.details}">
                <div class="attachment-preview type-image subtype-jpeg" style="width:120px; height:120px;" ng-click="select(medium)">
                    <div class="thumbnail">
                        <div class="centered">
                            <img style="width:120px; height:120px;" src="{{medium.url}}" />
                        </div>
                    </div>
                    <a class="check" title="Deselect" ng-click="deselect(medium)"><div class="media-modal-icon"></div></a>
                </div>
            </li>
        </ul>
        
        <div class="media-sidebar">
            <div class="attachment-details save-ready" ng-show="details">
                <h3>
                    Attachment Details
                    <span class="settings-save-status">
                        <span class="spinner"></span>
                        <span class="saved">Saved.</span>
                    </span>
                </h3>
                <div class="attachment-info">
                    <div class="thumbnail">
                        <img src="{{details.url}}">
                    </div>
                    <div class="details">
                        <div class="filename">{{details.filename}}</div>
                        <div class="uploaded">{{details.createDate}}</div>
                        <div class="dimensions">{{details.width}} × {{details.height}}</div>
                        <div class="compat-meta">
                        </div>
                    </div>
                </div>
                <label class="setting" data-setting="title">
                    <span>Title</span>
                    <input type="text" value="{{details.title}}">
                </label>
            </div>
            <form class="compat-item"></form><div class="attachment-display-settings" ng-show="false">
                <h3>Attachment Display Settings</h3>
                <label class="setting">
                    <span>Alignment</span>
                    <select class="alignment">

                        <option value="left">
                            Left
                        </option>
                        <option value="center">
                            Center
                        </option>
                        <option value="right">
                            Right
                        </option>
                        <option value="none" selected="">
                            None
                        </option>
                    </select>
                </label>

            </div>
        </div>
    </div>
</div>
<div class="media-frame-toolbar" style="left:0px;">
    <div class="media-toolbar">
        <div class="media-toolbar-secondary">
            <div class="media-selection one" ng-show="mediaFiltered.length != 0">
                <div class="selection-info">
                    <span class="count">{{mediaFiltered.length}} selected</span>
                    <a class="clear-selection" ng-click="deselectAll()" >Clear</a>
                </div>
                <div class="selection-view">
                    <ul class="attachments ui-sortable">
                        <li class="attachment selection selected save-ready" ng-class="{details:medium.details}" style="width:40px; height:40px;"
                            ng-repeat="medium in mediaFiltered = (media | filter:{'selected':true})">
                            <div class="attachment-preview type-image subtype-jpeg" style="width:40px; height:40px;">
                                <div class="thumbnail" style="width:40px; height:40px;">
                                    <div class="centered">
                                        <img style="width:40px; height:40px;" src="{{medium.url}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="media-toolbar-primary">
            <button class="button media-button button-primary button-large media-button-insert" 
               ng-click="attach()"
               ng-disabled="!mediaFiltered.length"
               ">Insert into post</button>
        </div>
    </div>
</div>