<div class="media-frame-content" style="top:0px; left:0px;">
    <div class="attachments-browser">
      
        <div class="media-router">
            <a ng-click="goToAlbum('/')" class="media-menu-item">All albums</a>
            <a ng-repeat="album in albums" ng-click="goToAlbum(album.tag)" class="media-menu-item">{{album.tag}}</a>
        </div>
        <ul class="attachments" style="padding-top:15px;">
            <li class="attachment save-ready" ng-repeat="medium in media" ng-class="{selected: medium.selected, details: medium.details}">
                <div class="attachment-preview type-image subtype-jpeg" style="width:120px; height:120px;" ng-click="select(medium)">
                    <div class="thumbnail">
                        <div class="centered">
                            <img style="width:120px; height:120px;" ng-src="{{medium.file.url}}" />
                        </div>
                    </div>
                    <a class="check" title="Deselect" ng-click="deselect(medium)"><div class="media-modal-icon"></div></a>
                </div>
            </li>
        </ul>
        
        <div class="media-sidebar">
            <div class="attachment-details" ng-show="details">
                <h3>
                    Attachment Details
                </h3>
                <div class="attachment-info">
                    <div class="thumbnail">
                        <img ng-src="{{details.file.url}}">
                    </div>
                    <div class="details">
                        <div class="filename">{{details.slug}}{{details.file.ending}}</div>
                        <div class="uploaded">{{details.file.modified|date}}</div>
                        <div class="type">{{details.file.type}}</div>
                        <div class="dimensions" ng-show="details.isImage">{{details.file.width}} × {{details.file.height}}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="media-frame-toolbar" style="left:0px;">
    <div class="media-toolbar">
        <div class="media-toolbar-secondary">
            <div class="media-selection one" ng-show="mediaFiltered.length != 0">
                <div class="selection-info">
                    <span class="count">{{mediaFiltered.length}} selected</span>
                    <a class="clear-selection" ng-click="deselectAll()" >Clear</a>
                </div>
                <div class="selection-view">
                    <ul class="attachments ui-sortable">
                        <li class="attachment selection selected save-ready" ng-class="{details:medium.details}" style="width:40px; height:40px;"
                            ng-repeat="medium in mediaFiltered = (media | filter:{'selected':true})">
                            <div class="attachment-preview type-image subtype-jpeg" style="width:40px; height:40px;">
                                <div class="thumbnail" style="width:40px; height:40px;">
                                    <div class="centered">
                                        <img style="width:40px; height:40px;" ng-src="{{medium.file.url}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="media-toolbar-primary">
            <button class="button media-button button-primary button-large media-button-insert" 
               ng-click="attach()"
               ng-disabled="!mediaFiltered.length"
               ">Insert into post</button>
        </div>
    </div>
</div>
